<nav>
    <h5 class="text-primary mb-4">🚦 Red Vial Urbana</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/">
                🏠 Inicio
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/agregar-nodo">
                ➕ Agregar Intersección
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/conectar-nodos">
                🔗 Conectar Intersecciones
            </NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link" href="/simular-flujo">
                🚗 Simular Flujo Vehicular
            </NavLink>
        </li>
    </ul>
</nav>
